spring:
  application:
    name: contact-manager-api

  server:
    port: 8080

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/contact_manager
    username: postgres
    password: admin1234
    hikari:
      maximum-pool-size: 10


  jpa:
    show-sql: true

    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    problemdetails:
      enabled: true


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace





